
  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        
            <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a  id="logo-container" href="#" class="brand-logo">Médico</a>
    
      
    </div>
  </nav>
    <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">Nome</label>
        </div>
         <div class="input-field col s6">
            <i class="material-icons prefix"></i>
          <input id="last_name" type="text" class="validate">
          <label for="last_name">CPF</label>
        </div>
    
      </div>
       <div class="row">
        <div class="input-field col s4">
               <i class="material-icons prefix">credit_card</i>
          <input  id="first_name" type="text" class="validate">
          <label for="first_name">CRM</label>
        </div>
            <div class="input-field col s3">
            <i class="material-icons prefix"></i>
          <input id="last_name" type="text" class="validate">
          <label for="last_name">UF do Conselho Prof.</label>
        </div>
        <div class="input-field col s5">
               <i class="material-icons prefix"></i>
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Especialidade</label>
        </div>
         </div>
       
      </div>
      </div>
      <div class="row">
        <div class="input-field col s6 email">
               <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate" >
          <label for="email">Email</label>
        </div> 
    <div class="row">
        <div class="input-field col s6">
               <i class="material-icons prefix"></i>
          <input id="password" type="password" class="validate">
          <label for="password">Site</label>
        </div>
      </div>
      </div>
        <div class="row">
        <div class="input-field col s9">
               <i class="material-icons prefix">credit_card</i>
          <input  id="first_name" type="text" class="validate">
          <label for="first_name">Logradouro (Rua, Avenida, etc) </label>
        </div>
        <div class="input-field col s3">
               <i class="material-icons prefix">markunread_mailbox</i>
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Numero</label>
        </div>
      </div>
       
        <div class="row">
        <div class="input-field col s6"> 
               <i class="material-icons prefix">call</i>
        <input  id="first_name" type="text" class="validate">
          <label for="first_name">Telefone</label>
        </div>
       
            <div class="input-field col s6">
               <i class="material-icons prefix">stay_current_portrait</i>
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Celular</label>
        </div>
      </div>
          <div class="row">
        <div class="input-field col s4">
               <i class="material-icons prefix"></i>
          <input  id="first_name" type="text" class="validate">
          <label for="first_name">Bairro</label>
        </div>
                <div > 
       <div class="input-field col s4">
          <i class="material-icons prefix"></i>
          <input id="last_name" type="text" class="validate">
          <label for="last_name">cidade</label>
        </div>
      </div>
        <div class="input-field col s4">
               <i class="material-icons prefix"></i>
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Estado</label>
        </div>
      </div>
     
     
    </form>
  </div>
   <footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Med Company </h5>

        </div>
      </div>
    </div>
   </footer>     
        
        
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
  </html>
        