<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        
</head>    

<body>
      <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a  id="logo-container" href="#" class="brand-logo">Paciente</a>
    
      
    </div>
  </nav>
    <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">Nome</label>
        </div>
        <div class="input-field col s6">
            <i class="material-icons prefix">credit_card</i>
          <input id="last_name" type="text" class="validate">
          <label for="last_name">CPF</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s6">
               <i class="material-icons prefix">person_pin</i>
          <input  id="first_name" type="text" class="validate">
          <label for="first_name">Pai</label>
        </div>
        <div class="input-field col s6">
               <i class="material-icons prefix">person_pin</i>
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Mãe</label>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="input-field col s6 email">
               <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate" >
          <label for="email">Email</label>
        </div> 
    <div class="row">
        <div class="input-field col s6">
               <i class="material-icons prefix"></i>
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      </div>
        <div class="row">
        <div class="input-field col s6">
               <i class="material-icons prefix">credit_card</i>
          <input  id="first_name" type="text" class="validate">
          <label for="first_name">RG</label>
        </div>
        <div class="input-field col s6">
               <i class="material-icons prefix">markunread_mailbox</i>
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Cep</label>
        </div>
      </div>
       
        <div class="row">
        <div class="input-field col s6"> 
               <i class="material-icons prefix">call</i>
        <input  id="first_name" type="text" class="validate">
          <label for="first_name">Telefone</label>
        </div>
       
            <div class="input-field col s6">
               <i class="material-icons prefix">stay_current_portrait</i>
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Celular</label>
        </div>
      </div>
          <div class="row">
        <div class="input-field col s6">
               <i class="material-icons prefix"></i>
          <input  id="first_name" type="text" class="validate">
          <label for="first_name">Profissão</label>
        </div>
        <div class="input-field col s6">
               <i class="material-icons prefix"></i>
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Naturalidade</label>
        </div>
      </div>
       <div > 
   <label>Sexo</label>
  <select class=" col s6 m6 browser-default">
    <option value="" disabled selected>Opção</option>
    <option value="1">Masculino</option>
    <option value="2">Feminino</option>
    <option value="3">Outros</option>
  </select>
   

  </div>
   
    </form>
  </div>
   <footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Med Company </h5>

        </div>
      </div>
    </div>
   </footer>     

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>

</html>